body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cf{
    color: white;
    margin-top: 50px;
    border: 1px solid rgb(105, 105, 184);
    /* background-color: lightblue; */
    /* background:linear-gradient(to bottom, rgb(203, 116, 22) 0%, rgb(231, 182, 84) 100%); */
    background-color: rgb(12, 9, 71);
    padding: 50px;
    border-radius: 10px;
}
.cd{
    font-size: 20px;
}